.mainphoto{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    border: solid 5px;
}

.getup{
    background-color: beige;
}

.tryusbakground {
    width: 100%;
    height: 400px;
    background: url("./Pictures/backfood.jpg") center;
    background-size: cover;
    margin: 0;
}

.footer>nav>a{
    text-decoration: none;    
}

img {
    box-shadow: 10px 10px 30px;
}

button:hover{
    box-shadow: 0 0 50px red;
}
